In [ ]:
#Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import VotingClassifier
from sklearn import model_selection
from sklearn.metrics import confusion_matrix
from sklearn. preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/My Drive/dl lab/Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
X = data.iloc[:, 3:13].values
y = data.iloc[:, 13].values

In [ ]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X1 = LabelEncoder()
X[:, 1] = labelencoder_X1.fit_transform(X[:, 1])
labelencoder_X2 = LabelEncoder()
X[:, 2] = labelencoder_X2.fit_transform(X[:, 2])
from sklearn.compose import ColumnTransformer
t = ColumnTransformer([("Geography", OneHotEncoder(), [1])], remainder = 'passthrough')
X = t.fit_transform(X)
X = X[:, 1:]

In [ ]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 0, stratify = y)

In [ ]:
# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

**KNN Classifer algorithm implementation**

In [ ]:
#Defining the KNN algorithm
model1 = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)

In [ ]:
#Training the KNN algorithm
model1.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
#Making the prediction
y_pred1 = model1.predict(X_test)

In [ ]:
#Confusion matrix
confusion_matrix_KNN = confusion_matrix(y_test, y_pred1)

In [ ]:
print(confusion_matrix_KNN)

[[1131   63]
 [ 203  103]]

In [ ]:
#10-fold cross-validation
kfold = model_selection.KFold(n_splits=10)
result1 = model_selection.cross_val_score(model1, X_train, y_train, cv=kfold)

In [ ]:
#Printing the accuracies achieved in cross-validation
print('Accuracy of k-NN Model is = ',result1.mean())

Accuracy of k-NN Model is =  0.8294117647058823

**Hybrid Ensemble Learning Model using Decision tree classifier, Support Vector Class and Naive bayes classifier algorithms**

In [ ]:
#Defining Hybrid Ensemble Learning Model
# create the sub-models
estimators = []

In [ ]:
#Defining 5 Decision Tree Classifiers
model1_dt = DecisionTreeClassifier(max_depth = 3)
estimators.append(('cart1', model1_dt))
model2_dt = DecisionTreeClassifier(max_depth = 4)
estimators.append(('cart2', model2_dt))
model3_dt = DecisionTreeClassifier(max_depth = 5)
estimators.append(('cart3', model3_dt))
model4_dt = DecisionTreeClassifier(max_depth = 2)
estimators.append(('cart4', model4_dt))
model5_dt = DecisionTreeClassifier(max_depth = 3)
estimators.append(('cart5', model5_dt))

In [ ]:
#Defining 5 Support Vector Classifiers
model1_svc = SVC(kernel = 'linear')
estimators.append(('svm1', model1_svc))
model2_svc = SVC(kernel = 'poly')
estimators.append(('svm2', model2_svc))
model3_svc = SVC(kernel = 'rbf')
estimators.append(('svm3', model3_svc))
model4_svc = SVC(kernel = 'rbf')
estimators.append(('svm4', model4_svc))
model5_svc = SVC(kernel = 'linear')
estimators.append(('svm5', model5_svc))

In [ ]:
#Defining 5 Naive Bayes classifiers
model1_GNB = GaussianNB()
estimators.append(('nbs1', model1_GNB))
model2_GNB = GaussianNB()
estimators.append(('nbs2', model2_GNB))
model3_GNB = GaussianNB()
estimators.append(('nbs3', model3_GNB))
model4_GNB = GaussianNB()
estimators.append(('nbs4', model4_GNB))
model5_GNB = GaussianNB()
estimators.append(('nbs5', model5_GNB))

In [ ]:
# Defining the ensemble model
ensemble = VotingClassifier(estimators)
ensemble.fit(X_train, y_train)
y_pred = ensemble.predict(X_test)

In [ ]:
#Confisuin matrix
confusion_matrix_HybridEnsembler = confusion_matrix(y_test, y_pred)

In [ ]:
confusion_matrix_HybridEnsembler

array([[1184,   10],
       [ 215,   91]])

In [ ]:
#Cross-Validation
seed = 7
kfold = model_selection.KFold(n_splits=10)
results = model_selection.cross_val_score(ensemble, X_train, y_train, cv=kfold)
print("The accuracy of hybrid ensemble learning model using three different algorithms is ",results.mean())

The accuracy of hybrid ensemble learning model using three different algorithms is  0.852